.table{
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 50%;
}


.table__caption{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: justify;
}

.table__row:hover{
    background-color: rgb(255, 250, 250);
}

.table__item{
    border: 2px solid rgb(107, 105, 105);
    text-align: center;
    padding: 10px;
}

.table__item--header{
    background-color: rgb(250, 6, 6);
}


.table__item--header:hover{
    background-color:  rgba(250, 6, 6, 0.352);;
}